.about-page {
    padding: 5% 5% 0 5%;
    display: flex;
    padding-top: 100px;
    min-height: 100vh;
}

.about-page h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.about-page {
    padding-bottom: 100px;
}


img {
    border-radius: 8px;
    justify-content: center;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {



    /* After md breakpoint */
    img {
        border-radius: 8px;
        width: 75%;
        /* Adjust to 75% */
        /* Limit max size */
    }

}