.about-page {
    max-width: 1400px;
    margin: 0 auto;
    padding: 170px 5% 6rem 5%;
}

.about-content {
    display: flex;
    gap: 6rem;
    align-items: flex-start;
}

.about-image {
    flex: 0 0 35%;
    align-self: flex-start;
}

.about-image img {
    width: 100%;
    height: auto;
    display: block;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    margin-bottom: 1.5rem;
    margin-top: 4rem;

}

.about-heading {
    margin-bottom: 1.5rem;
}

.about-text ul {
    list-style-position: inside;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        gap: 2rem;
    }

    .about-image {
        position: static;
        width: 75%;
        margin: 0 auto;
    }

    .about-text {
        padding-top: 0;
    }
}