.about-page {
    padding: 5% 5% 0 5%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 6rem;
}


.about-page img {
    border-radius: 8px;
    justify-content: center;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .about-page img {
        border-radius: 8px;
        width: 75%;
    }
}