.hero-btn {
    font-size: 1.1rem;
    padding: 0.8rem 2rem;
}

.hero {
    padding-top: 25vh;
    padding-bottom: 50vh;
    height: calc(100vh - 500px);
    text-align: center;
}

.hero-subheading {
    font-size: 1rem;
    margin-top: 20px;
    max-width: 600px;
    color: rgb(34, 34, 36);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-content img {
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

/*
@font-face {
    font-family: "Handwriting";
    src: url("../../assets/fonts/SecretGrass.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
*/
.hero-heading {
    font-size: 50px;
}

@media (max-width: 768px) {
    .hero-heading {
        font-size: 2rem;
    }

    .hero-subheading {
        font-size: 1.2rem;
    }
}