.hero-btn {
    font-size: 1.1rem;
    padding: 0.8rem 2rem;
}

.hero {
    padding-top: 25vh;
    padding-bottom: 50vh;
    height: calc(100vh - 500px);
    text-align: center;
}

.hero-subheading {
    font-size: 1rem;
    margin-top: 20px;
    max-width: 600px;
    color: var(--text-primary);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content img {
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

@font-face {
    font-family: "Handwriting";
    src: url("/fonts/SecretGrass.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}


.hero-heading {
    font-family: "Handwriting", sans-serif;
    font-size: 80px;
    color: var(--text-heading);
}

@media (max-width: 768px) {
    .hero-heading {
        font-size: 2rem;
    }

    .hero-subheading {
        font-size: 1.2rem;
    }
}