.projects {
    padding-bottom: 100px;
    /* Add some padding around the section */
}


#projects {
    scroll-margin-top: 150px;
    /* This will offset the scroll position */
}

@font-face {
    font-family: "Handwriting";
    src: url("../../assets/fonts/SecretGrass.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}