.ux-footer {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #1A513E; /* Match wave footer color*/
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 4rem;
  overflow: visible;
}

.footer-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  object-position: bottom;
}


.ux-footer-content {
  position: relative; /* sits above SVG */
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ux-footer-content p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.ux-footer-social-icons {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  color: white;
}

.ux-footer-social-icons a {
  font-size: 1.5rem;
  transition: transform 0.2s, opacity 0.2s;
  display: inline-block;
}

.ux-footer-social-icons a img {
  width: 32px;
  height: 32px;
  display: block;
  filter: brightness(0) invert(1); /* Makes black icons white */
  border-radius: 0; /* Remove rounded corners */
}

.ux-footer-social-icons a:hover {
  opacity: 0.7;
  transform: translateY(-3px);
}
