.nav-background {
    /*background-color: #efebe5;*/
    /*background-color: rgba(121, 177, 100, 0.6);*/
    padding-right: 16px !important;
}

.nav-sticky {
    position: sticky;
    top: 0px;
    z-index: 2;
    margin-right: 80px;
}

.nav-link {
    color: rgb(34, 34, 36) !important;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px !important;
    display: block;
    border-radius: 0.5rem;
    margin: 0 8px;
    /*font-family: "Handwriting", sans-serif;*/

}


.logo {
    height: 49px;
    margin: 8px;
    padding-left: 88px;
}




a {
    color: rgb(17, 20, 31) !important;
    display: block;
}

.nav-link:hover {
    color: rgb(106, 143, 62) !important;
}

@font-face {
    font-family: "Handwriting";
    src: url("../../assets/fonts/SecretGrass.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.hero-heading {
    font-family: "Handwriting", sans-serif;
    font-size: 80px;
}