.nav-background {
  background-color: #faf8f6 !important;
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.nav-sticky {
    position: sticky;
    top: 0px;
    z-index: 2;
}

.nav-link {
    color: rgb(34, 34, 36) !important;
    padding: 8px;
    text-decoration: none;
    font-weight: 900;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px !important;
    border-radius: 0.5rem;
    margin: 0 8px;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 24' preserveAspectRatio='none'%3E%3Cpath d='M0,12 C10,0 20,0 30,12 C40,24 50,24 60,12' stroke='rgb(106, 143, 62)' stroke-width='3' fill='none'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: 60px 12px;
    transition: width 0.6s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active {
    color: rgb(106, 143, 62) !important;
}


.logo {
    height: 49px;
    margin: 8px;
    padding-left: 0;
}




a {
    color: rgb(17, 20, 31) !important;
    display: block;
}

.nav-link:hover {
    color: rgb(106, 143, 62) !important;
}

@font-face {
    font-family: "Handwriting";
    src: url("../../assets/fonts/SecretGrass.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.hero-heading {
    font-family: "Handwriting", sans-serif;
    font-size: 80px;
}

@media (max-width: 768px) {
    .nav-background {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .logo {
        padding-left: 0;
    }
}