.nav-background {
  background-color: #f8f5f1;
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.nav-sticky {
    position: sticky;
    top: 0px;
    z-index: 2;
}

.nav-link {
    color: rgb(34, 34, 36) !important;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px !important;
    border-radius: 0.5rem;
    margin: 0 8px;
}


.logo {
    height: 49px;
    margin: 8px;
    padding-left: 0;
}




a {
    color: rgb(17, 20, 31) !important;
    display: block;
}

.nav-link:hover {
    color: rgb(106, 143, 62) !important;
}

@font-face {
    font-family: "Handwriting";
    src: url("../../assets/fonts/SecretGrass.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.hero-heading {
    font-family: "Handwriting", sans-serif;
    font-size: 80px;
}

@media (max-width: 768px) {
    .nav-background {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .logo {
        padding-left: 0;
    }
}