.active {
    background-color: #d3c3e5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e7e7;
    box-shadow: 1px 10px 36px -11px rgba(151, 147, 147, 0.65);
    position: sticky;
    top: 0;
    height: 64px;
    margin: 0 60px 0 60px;
}

nav img {
    height: 32px;
    margin: 8px;
    padding-left: 24px;
}

/*
nav .navTitle {
    font-size: 20px;
    white-space: nowrap;
    text-decoration: none;
    color: rgb(34, 34, 36);
    padding-left: 16px;
}

nav .logo {
    align-items: center;
    display: flex;
}
    */

nav .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
    font-size: 20px;
}



nav ul li a {
    color: rgb(34, 34, 36);
    padding: 8px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    display: block;
    border-radius: 0.5rem;
    margin: 0 8px;
}

/*

nav ul li a:not(.active):hover {
    background-color: #866ea4;

}
    */

.nav-mob-close {
    display: none;
}

@media (max-width: 768px) {
    nav .menu {
        display: flex;
    }



    nav ul {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 50px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: bisque;
        width: 350px;
        height: 100px;
        z-index: 2;
        transition: right 0.5s;
        right: -350px
    }

}