/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General Styles */
html,
body {
  height: 100%;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: auto;
  background-color: #faf8f6;
}

/* Paragraph Styling */
p {
  font-size: 20px;
  text-align: justify;
  color: rgb(49, 49, 51);
}

/* Heading Styling */
h1, h2, h3, h4, h5, h6 {
  color: #39393a;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

section h3,
.container h3,
.about-page h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

.section-heading {
  text-align: center;
  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 20px;
  }
}

/* Layout */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensures the root fills the viewport height */
}

.content {
  flex-grow: 1;
  background-color: #faf8f6;
}