/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General Styles */
html,
body {
  height: 100%;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Paragraph Styling */
p {
  font-size: 20px;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 20px;
  }
}

/* Layout */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensures the root fills the viewport height */
}

.content {
  flex-grow: 1;
  background-color: #f8f5f1;
}